In [118]:
import pandas as pd
import numpy as np

In [119]:
# Read input data from FRBNY website
chl_data =  pd.read_excel("inputData/Holston_Laubach_Williams_current_estimates.xlsx", sheet_name="CHL Raw Data")
chl_data = chl_data.set_index("Date")
chl_data

#reasample inflation.index to quarterly 
chl_data_qrt = chl_data['inflation.index'].resample('QS').mean()
chl_data_qrt = chl_data_qrt.to_frame()
chl_data_qrt.dropna()

#get quarterly growth rate
chl_data_qrt['inflation.index_growth'] = chl_data_qrt['inflation.index'].pct_change() * 100
chl_data_qrt = chl_data_qrt.dropna()
chl_data_qrt

#annualize growth rate
chl_data_qrt['inflation.index_growth_annualized'] = 100 * ((1 + chl_data_qrt['inflation.index_growth']/100)**4 - 1)
chl_data_qrt

C:\Users\tfarotimi\AppData\Local\Temp\ipykernel_18568\2843858925.py:12: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  chl_data_qrt['inflation.index_growth'] = chl_data_qrt['inflation.index'].pct_change() * 100

,inflation.index,inflation.index_growth,inflation.index_growth_annualized
Date,,,
1991-04-01,26.168908,6.092193,26.687485
1991-07-01,27.381654,4.634303,19.866090
1991-10-01,28.471423,3.979926,16.895558
1992-01-01,29.694304,4.295114,18.319371
1992-04-01,30.905696,4.079545,17.344177
...,...,...,...
2022-10-01,123.253333,1.800562,7.399113
2023-01-01,126.643333,2.750433,11.464004
2023-04-01,129.593333,2.329376,9.648151
2023-07-01,130.136667,0.419260,1.687617
2023-10-01,130.603333,0.358597,1.442123

In [120]:
#reasample inflation expectations to quarterly
#chl_data_qrt['inflation.index_growth_annualized'] = chl_data_qrt['inflation.index_growth_annualized'].resample('QS').mean()

#rolling average of previous 4 quarters of inflation_index_growth_annualized 
chl_data_qrt['inflation.expectaions'] = chl_data_qrt['inflation.index_growth_annualized'].rolling(window=4).mean()
chl_data_qrt = chl_data_qrt.dropna()
chl_data_qrt

,inflation.index,inflation.index_growth,inflation.index_growth_annualized,inflation.expectaions
Date,,,,
1992-01-01,29.694304,4.295114,18.319371,20.442126
1992-04-01,30.905696,4.079545,17.344177,18.106299
1992-07-01,31.890903,3.187784,13.373916,16.483256
1992-10-01,33.064227,3.679181,15.549013,16.146619
1993-01-01,34.335443,3.844686,16.288592,15.638924
...,...,...,...,...
2022-10-01,123.253333,1.800562,7.399113,10.858440
2023-01-01,126.643333,2.750433,11.464004,10.707162
2023-04-01,129.593333,2.329376,9.648151,9.779584
2023-07-01,130.136667,0.419260,1.687617,7.549721
2023-10-01,130.603333,0.358597,1.442123,6.060474

In [121]:
#resample interest rate to quarterly
chl_data_qrt['interest'] = chl_data['interest'].resample('QS').mean()
chl_data_qrt = chl_data_qrt.dropna()
chl_data_qrt

C:\Users\tfarotimi\AppData\Local\Temp\ipykernel_18568\519552834.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chl_data_qrt['interest'] = chl_data['interest'].resample('QS').mean()

,inflation.index,inflation.index_growth,inflation.index_growth_annualized,inflation.expectaions,interest
Date,,,,,
1997-01-01,50.506316,1.348821,5.505429,7.515160,7.250000
1997-04-01,51.313544,1.598271,6.547993,6.168581,6.966631
1997-07-01,51.956166,1.252342,5.104259,5.474030,6.675000
1997-10-01,52.543676,1.130781,4.600425,5.439527,6.500000
1998-01-01,53.482554,1.786852,7.341272,5.898488,7.918254
...,...,...,...,...,...
2022-10-01,123.253333,1.800562,7.399113,10.858440,11.188596
2023-01-01,126.643333,2.750433,11.464004,10.707162,11.250000
2023-04-01,129.593333,2.329376,9.648151,9.779584,11.250000
2023-07-01,130.136667,0.419260,1.687617,7.549721,10.356934
2023-10-01,130.603333,0.358597,1.442123,6.060474,9.057895

In [122]:
#drop inflation.index and inflation.index_growth columns
chl_data_qrt = chl_data_qrt.drop(columns=['inflation.index', 'inflation.index_growth'])
chl_data_qrt

,inflation.index_growth_annualized,inflation.expectaions,interest
Date,,,
1997-01-01,5.505429,7.515160,7.250000
1997-04-01,6.547993,6.168581,6.966631
1997-07-01,5.104259,5.474030,6.675000
1997-10-01,4.600425,5.439527,6.500000
1998-01-01,7.341272,5.898488,7.918254
...,...,...,...
2022-10-01,7.399113,10.858440,11.188596
2023-01-01,11.464004,10.707162,11.250000
2023-04-01,9.648151,9.779584,11.250000
2023-07-01,1.687617,7.549721,10.356934
2023-10-01,1.442123,6.060474,9.057895

In [123]:
#read gdp data from excel 
gdp_data = pd.read_excel("inputData/Holston_Laubach_Williams_current_estimates.xlsx", sheet_name="Chile Raw Data_GDP")
gdp_data.set_index("Date", inplace=True)
gdp_data.resample('QS').mean()
gdp_data = gdp_data.dropna()

#gdp_data = gdp_data/10000

gdp_data = np.log(gdp_data) 

#change date index format to quarter and year 
gdp_data.index = gdp_data.index.to_period('Q')
gdp_data

          gdp.raw
Date
1996Q1   9.907163
1996Q2   9.917064
1996Q3   9.926983
1996Q4   9.941214
1997Q1   9.963638
...           ...
2023Q3  10.839696
2023Q4  10.841651
2024Q1  10.861861
2024Q2  10.855917
2024Q3  10.862514

[115 rows x 1 columns]

In [124]:
#change date index format to quarter and year 
chl_data_qrt.index = chl_data_qrt.index.to_period("Q")
chl_data_qrt.index.name = 'Date'
chl_data_qrt

        inflation.index_growth_annualized  inflation.expectaions   interest
Date
1997Q1                           5.505429               7.515160   7.250000
1997Q2                           6.547993               6.168581   6.966631
1997Q3                           5.104259               5.474030   6.675000
1997Q4                           4.600425               5.439527   6.500000
1998Q1                           7.341272               5.898488   7.918254
...                                   ...                    ...        ...
2022Q4                           7.399113              10.858440  11.188596
2023Q1                          11.464004              10.707162  11.250000
2023Q2                           9.648151               9.779584  11.250000
2023Q3                           1.687617               7.549721  10.356934
2023Q4                           1.442123               6.060474   9.057895

[108 rows x 3 columns]

In [125]:
#merge gdp_data and chl_data_qrt
chl_data_qrt = chl_data_qrt.merge(gdp_data, left_index=True, right_on='Date')
chl_data_qrt

,inflation.index_growth_annualized,inflation.expectaions,interest,gdp.raw
Date,,,,
1997Q1,5.505429,7.515160,7.250000,9.963638
1997Q2,6.547993,6.168581,6.966631,9.984237
1997Q3,5.104259,5.474030,6.675000,10.006575
1997Q4,4.600425,5.439527,6.500000,10.027638
1998Q1,7.341272,5.898488,7.918254,10.035639
...,...,...,...,...
2022Q4,7.399113,10.858440,11.188596,10.833972
2023Q1,11.464004,10.707162,11.250000,10.840936
2023Q2,9.648151,9.779584,11.250000,10.834711
2023Q3,1.687617,7.549721,10.356934,10.839696
2023Q4,1.442123,6.060474,9.057895,10.841651

In [126]:
# #test chl_data_qrt for stationarity

# from statsmodels.tsa.stattools import adfuller

# def adf_test(series):
#     result = adfuller(series)
#     print(f'ADF Statistic: {result[0]}')
#     print(f'p-value: {result[1]}')
#     print(f'Critical Values:')
#     for key, value in result[4].items():
#         print(f'\t{key}: {value}')

# adf_test(chl_data_qrt['inflation.expectations'])
# adf_test(chl_data_qrt['interest'])
# adf_test(chl_data_qrt['gdp.raw'])
# adf_test(chl_data_qrt['interest'] - chl_data_qrt['inflation.expectations'])

# #interpret the results
# #p-value is less than 0.05, so we reject the null hypothesis that the data is non-stationary
# #p-value is less than 0.05, so we reject the null hypothesis that the data is non-stationary

In [127]:
#rename columns
chl_data_qrt.columns = ['inflation', 'inflation.expectations', 'interest', 'gdp.log']

#add columns of 0 called covid.indicator
chl_data_qrt['covid.indicator'] = 0

#save data to excel
chl_data_qrt.to_excel("inputData/Holston_Laubach_Williams_CHL.xlsx", sheet_name="CHL Input Data" )

In [128]:
#read us input data tab of excel
#us_data = pd.read_excel("inputData/Holston_Laubach_Williams_current_estimates.xlsx", sheet_name="CA input data")

In [ ]:
# for column in us_data.columns:
#     #test stationarity
#     adf_test(us_data[column])
#     #interpret the results
#     #p-value is less than 0.05, so we reject the null hypothesis that the data is non
#     #p-value is less than 0.05, so we reject the null hypothesis that the data is non-stationary

NameError: name 'us_data' is not defined

In [ ]:
# #apply hp filter to us data['gdp.raw']
# import statsmodels.api as sm
# hpfilter = sm.tsa.filters.hpfilter(us_data['gdp.log'], lamb=1600)[1]
# std = hpfilter.std()
# std

0.5311613677836818

In [ ]:
failing_f = " [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 1 0 0 1 0 0 0 0 0 [2,] 1 0 0 0 0 0 0 0 0 [3,] 0 1 0 0 0 0 0 0 0 [4,] 0 0 0 1 0 0 0 0 0 [5,] 0 0 0 1 0 0 0 0 0 [6,] 0 0 0 0 1 0 0 0 0 [7,] 0 0 0 0 0 0 1 0 0 [8,] 0 0 0 0 0 0 1 0 0 [9,] 0 0 0 0 0 0 0 1 0"
working_f = " [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 1 0 0 1 0 0 0 0 0 [2,] 1 0 0 0 0 0 0 0 0 [3,] 0 1 0 0 0 0 0 0 0 [4,] 0 0 0 1 0 0 0 0 0 [5,] 0 0 0 1 0 0 0 0 0 [6,] 0 0 0 0 1 0 0 0 0 [7,] 0 0 0 0 0 0 1 0 0 [8,] 0 0 0 0 0 0 1 0 0 [9,] 0 0 0 0 0 0 0 1 0"

failing_f == working_f

True

In [133]:
failing_p = " [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 0.2 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 [2,] 0.0 0.2 0.0 0.0 0.0 0.0 0.0 0.0 0.0 [3,] 0.0 0.0 0.2 0.0 0.0 0.0 0.0 0.0 0.0 [4,] 0.0 0.0 0.0 0.2 0.0 0.0 0.0 0.0 0.0 [5,] 0.0 0.0 0.0 0.0 0.2 0.0 0.0 0.0 0.0 [6,] 0.0 0.0 0.0 0.0 0.0 0.2 0.0 0.0 0.0 [7,] 0.0 0.0 0.0 0.0 0.0 0.0 0.2 0.0 0.0 [8,] 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.2 0.0 [9,] 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.2"
working_p = " [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 0.2 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 [2,] 0.0 0.2 0.0 0.0 0.0 0.0 0.0 0.0 0.0 [3,] 0.0 0.0 0.2 0.0 0.0 0.0 0.0 0.0 0.0 [4,] 0.0 0.0 0.0 0.2 0.0 0.0 0.0 0.0 0.0 [5,] 0.0 0.0 0.0 0.0 0.2 0.0 0.0 0.0 0.0 [6,] 0.0 0.0 0.0 0.0 0.0 0.2 0.0 0.0 0.0 [7,] 0.0 0.0 0.0 0.0 0.0 0.0 0.2 0.0 0.0 [8,] 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.2 0.0 [9,] 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.2"

failing_p == working_p

True

In [ ]:
failing_q = "[,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 0.3956593 0 0 0.000000000 0 0 0 0 0 [2,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [3,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [4,] 0.0000000 0 0 0.005253001 0 0 0 0 0 [5,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [6,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [7,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [8,] 0.0000000 0 0 0.000000000 0 0 0 0 0 [9,] 0.0000000 0 0 0.000000000 0 0 0 0 0"
working_q = "[,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [1,] 0.2714264 0 0 0.0000000000 0 0 0.00000000 0 0 [2,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0 [3,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0 [4,] 0.0000000 0 0 0.0004606187 0 0 0.00000000 0 0 [5,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0 [6,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0 [7,] 0.0000000 0 0 0.0000000000 0 0 0.02108228 0 0 [8,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0 [9,] 0.0000000 0 0 0.0000000000 0 0 0.00000000 0 0"